body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#left-menu {
  box-sizing: border-box;
  height: inherit;
  width: 200px;
  border: 1px solid black;
  padding: 10px;
}

#left-menu button {
  display: block;
  margin: 10px auto;

  cursor: pointer;
}

#game-map {
  position: relative;
  box-sizing: border-box;
}

#state-selector {
  position: relative;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.cell {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
}

/* Conway Game of Life */
.cell-dead {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background: white;
}

.cell-dead:hover {
  background: black;
}

.cell-live {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background: gray;
}

.cell-live:hover {
  background: black;
}

/* Wire World */
.cell-empty {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background: white;
}

.cell-empty:hover {
  background: black;
}

.cell-conductor {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background: gray;
}

.cell-conductor:hover {
  background: black;
}

.cell-eletron {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background: yellow;
}

.cell-eletron:hover {
  background: black;
}

.cell-eletron-tail {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background: blue;
}

.cell-eletron-tail:hover {
  background: black;
}

/* Wire World */
.cell-white {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background: white;
}

.cell-white:hover {
  background: blue;
}

.cell-white-up-ant {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background-color: white;
  background-image: url("../img/red-ant.png");
  background-repeat: round;
}

.cell-white-up-ant:hover {
  background-color: white;
}

.cell-white-down-ant {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background-color: white;
  background-image: url("../img/red-ant.png");
  background-repeat: round;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.cell-white-down-ant:hover {
  background-color: white;
}

.cell-white-right-ant {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background-color: white;
  background-image: url("../img/red-ant.png");
  background-repeat: round;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.cell-white-right-ant:hover {
  background-color: white;
}

.cell-white-left-ant {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background-color: white;
  background-image: url("../img/red-ant.png");
  background-repeat: round;
  -webkit-transform: rotate(2700deg);
  -moz-transform: rotate(2700deg);
  -ms-transform: rotate(2700deg);
  -o-transform: rotate(2700deg);
  transform: rotate(2700deg);
}

.cell-white-left-ant:hover {
  background-color: white;
}

.cell-black {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background: black;
}

.cell-black:hover {
  background: blue;
}

.cell-black-up-ant {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background-color: black;
  background-image: url("../img/red-ant.png");
  background-repeat: round;
}

.cell-black-up-ant:hover {
  background-color: black;
}

.cell-black-down-ant {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background-color: black;
  background-image: url("../img/red-ant.png");
  background-repeat: round;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.cell-black-down-ant:hover {
  background-color: black;
}

.cell-black-right-ant {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background-color: black;
  background-image: url("../img/red-ant.png");
  background-repeat: round;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.cell-black-right-ant:hover {
  background-color: black;
}

.cell-black-left-ant {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background-color: black;
  background-image: url("../img/red-ant.png");
  background-repeat: round;
  -webkit-transform: rotate(2700deg);
  -moz-transform: rotate(2700deg);
  -ms-transform: rotate(2700deg);
  -o-transform: rotate(2700deg);
  transform: rotate(2700deg);
}

.cell-black-left-ant:hover {
  background-color: black;
}
